Source: bgpfeeder
Section: unknown
Priority: extra
Maintainer: Nicholas Thomas <nick@bytemark.co.uk>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://projects.bytemark.co.uk/projects/bgpfeeder

Package: bgpfeeder
Architecture: all
Depends: ${misc:Depends}, libdaemons-ruby1.8, ruby1.8
Description: Simple BGP daemon
 Used to advertise a simple set of routes to upstream BGP servers

